h1 {
  text-align: center;
}

.pokemons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.pokemon {
  background: #dea;
  height: 100px;
  color: #333;
  text-align: center;
  text-transform: capitalize;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
